/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #D0CCD0;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #EDEDED;
    padding: 20px;
    color: #276379;
    margin-bottom: 10vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    max-width: 200px;
    height: auto;
}

/* Conteúdo Principal */
main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    align-items: center;
    flex-direction: column;
}

.body-container {
    background-color: #274156; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    color: white; 
}

/* Formulário de Admin */
.admin-form {
    flex: 1;
    background-color: #1C6E8C; 
    padding: 40px;
    border-radius: 10px;
    margin-right: 20px;
    color: #fff;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff; 
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #fff; 
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Botões */
.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px; 
}

button {
    padding: 10px 20px;
    background-color: #1C6E8C; 
    color: #EDEDED;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #276379; 
}

/* Lista de Usuários */

#userList ul {
    list-style: none;
}

#userList li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userList button {
    background-color: #D9534F;
}

#userList button:hover {
    background-color: #C9302C;
}

/* Rodapé */
footer {
    margin-top: 20dvh;
    background-color: #fff;
    padding: 0;
  }
  
  .conteudo_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .esquerda_footer .logo_footer {
    max-width: 100px;
    height: auto;
  }
  
  .direita_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .direita_footer a {
    color: #276379;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  
  .direita_footer a:hover {
    text-decoration: underline;
  }

  .social-icons {
    display: flex; 
    gap: 15px; 
  }
  
  .social-icons i {
    font-size: 24px;
    color: #276379;
  }
  
  .social-icons i:hover {
    color: #1C6E8C; 
  }
