* {
    margin: 0;
    padding: 0;
    
  }
  
  html {
    display: flex;
    flex-direction: column;
  }

  body {
    font-family: 'Arial', sans-serif;
    background-color: #D0CCD0;
    color: #333;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
  }
  
  header {
    background-color: #EDEDED;
    padding: 20px;
    color: #276379;
  }

  .conteudo_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo_header {
    max-width: 200px;
    height: auto;
  }
  
  .botao_entrar {
    background-color: #1C6E8C;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .botao_entrar:hover {
    background-color: #276379;
  }

  .fundo_cadastro {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #EDEDED;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 100%;
  }

  .formulario_cadastro {
    display: flex;
    flex-direction: column;
    background-color: #274156;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    max-width: 100%;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
  }

  label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #fff;
  }
  
  input {
    width: 25dvw;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  #data-nascimento {
    color: gray;
    opacity: 1;
  }

  #data-nascimento:valid{
    color: black;
  }

  .botao {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 20px;
  }
  
  button {
    width: 150px;
    padding: 16px;
    background-color: #1C6E8C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #276379;
  }

  .entrar_link {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .entrar_link:hover {
    text-decoration: underline;
  }

  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logo-container img {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  footer {
    background-color: #fff;
    padding: 0;
  }
  
  .conteudo_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .esquerda_footer .logo_footer {
    max-width: 100px;
    height: auto;
  }
  
  .direita_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .direita_footer a {
    color: #276379;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  
  .direita_footer a:hover {
    text-decoration: underline;
  }

.social-icons {
  display: flex; 
  gap: 15px; 
}

.social-icons i {
  font-size: 24px;
  color: #276379;
}

.social-icons i:hover {
  color: #1C6E8C; 
}